<%= render 'pages/home' unless user_signed_in? %>
 <div id="pins" class="transitions-enabled">
   
    <% @pins.each do |pin| %>
   
      <div class="box">
          <tr>
            <%= link_to image_tag(pin.image.url(:medium)), pin %>
           
          </tr>
      </div>
    <% end %> 
 </div>
 
 